extends layout

block content
  .w3-top
        .w3-bar.w3-theme-d2.w3-left-align.w3-large
            // Ao clicar neste botão ir para o feed
            form(action='/users/home' method='GET')
              button.w3-bar-item.w3-button.w3-padding-large.w3-hover-white(href='/users/home')
                i.fa.fa-google.w3-margin-right
                | myGoogleDrive
            //Pesquisar    
            .w3-bar-item.w3-hide-small.w3-padding-large(style='margin-left:42px')
                .search-container
                    form(action='/users/recursos/com')
                        input(type='text' placeholder='Pesquisar título...' name='titulo')
                        | &nbsp;
                        button.w3-button.w3-hover-white(type='submit')
                            i.fa.fa-search        
            // Ao clicar neste botão ir para a página inicial (login/registo)
            form(action='/users/logout' method='POST')
                button.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(type='submit' title='Logout' style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;")
                    i.fa.fa-power-off
  // Page Container
  .w3-container.w3-content(style='max-width:1400px;margin-top:80px')
            // The Grid
            .w3-row
                // Left column
                .w3-col.m3
                    // Perfil
                    .w3-card.w3-round.w3-white
                        h4.w3-center Perfil
                        .w3-container
                            p
                               i.fa.fa-male.fa-fw.w3-margin-right.w3-text-theme
                               span=user.nome
                            p
                               i.fa.fa-at.fa-fw.w3-margin-right.w3-text-theme
                               span=user.email
                            // Para o admin   
                            -if(user.nivel == 0) 
                                p
                                    i.fa.fa-pencil.fa-fw.w3-margin-right.w3-text-theme
                                    span Administrador
                            -if(user.nivel != 0)
                                p
                                    i.fa.fa-pencil.fa-fw.w3-margin-right.w3-text-theme
                                    span=user.filiacao  
                    br
                    // Features
                    .w3-card.w3-round
                        .w3-white
                            button.w3-button.w3-block.w3-theme-l1.w3-left-align(onclick="myFunction('Demo2')")
                                i.fa.fa-bars.fa-fw.w3-margin-right
                                |  Features
                            #Demo2.w3-hide.w3-container
                               .w3-row-padding
                                    ul
                                        li
                                            a(href="/users/meusRecursos") Meus recursos
                                        li
                                            a(href="/users/outrosRecursos") Outros recursos
                                        // Para admin    
                                        if(user.nivel == "0")    
                                            li
                                                a(href="/users/") Utilizadores
                                    br
                    br            
                // End Left Column
                // Mid Column 
                .w3-col.m7
                    .w3-row-padding
                        .w3-col.m12
                            .w3-card.23-round.w3-white
                                .w3-container.w3-padding
                                    h4.w3-center Utilizadores
                                -var i = 0
                                -var yes = false
                                -if(users.length >= 1)
                                    -yes = true
                                -if(yes)
                                     table.w3-table-all
                                        -while(i < users.length)
                                            -var check = false
                                            -while(!check)
                                                -if(i < users.length)
                                                    -var ut = users[i]
                                                        tr
                                                            td(style="vertical-align:middle;width:100%")
                                                                div(class="txt-container")
                                                                    w3.container(style="width:605px;vertical-align:top")
                                                                        i.fa.fa-user(style="color:#006683") 
                                                                        | &nbsp;&nbsp;
                                                                        u Nome:
                                                                        | &nbsp;
                                                                        span
                                                                            b=ut.nome
                                                                        br      
                                                                        i.fa.fa-at(style="color:#00683") &nbsp;&nbsp;
                                                                        | &nbsp;&nbsp;
                                                                        u Email:
                                                                        | &nbsp;
                                                                        span
                                                                            -var mt = "mailto:" + ut.email
                                                                            a(href=mt)=ut.email
                                                                        br
                                                                        i.fa.fa-book(style="color:#00683") &nbsp;&nbsp;
                                                                        | &nbsp;&nbsp;
                                                                        u Filiação:
                                                                        | &nbsp;
                                                                        span=ut.filiacao
                                                                        br
                                                                        i.fa.fa-calendar-check-o(style="color:#00683") &nbsp;&nbsp;
                                                                        | &nbsp;&nbsp;
                                                                        u Data de registo:
                                                                        | &nbsp;
                                                                        span=ut.dataReg     
                                                                        br
                                                                        i.fa.fa-calendar-check-o(style="color:#00683") &nbsp;&nbsp;
                                                                        | &nbsp;&nbsp;
                                                                        u Data de útlimo login:
                                                                        | &nbsp;
                                                                        span=ut.dataUlt                                                                    
                                                                        -i++
                                                                        br
                                                -else
                                                    -check=true                                    
                //End Mid
                //Right
                .w3-col.m2
                    .w3-card.w3-round.w3-white
                        button.w3-button.w3-block.w3-theme-l1.w3-left-align(onclick="myFunction('Demo3')")
                            i.fa.fa-bars.fa-fw.w3-margin-right
                            |  Notificações
                        #Demo3.w3-hide.w3-container
                            -var i = 0
                            -var yes = false
                            -if(notificacoes.length >= 1)
                                -yes = true
                            -if(yes)
                            div
                                ul
                                    -while(i < notificacoes.length)
                                        -var n = notificacoes[i]
                                        li
                                            w3.container(style="width:605px;vertical-align:top")
                                                //i.fa.fa-file(style="color:#006683")
                                                b Título: 
                                                span
                                                    a(href="/users/recurso/" + n.rec_id)=n.titulo
                                                br
                                                b Autor: 
                                                span=n.nome_pub
                                                br
                                                -var data=n.data_pub.split('T')
                                                -var df = data[0] + "," + data[1]
                                                span=df
                                                button
                                                    -var query="?email="+user.email+"&rec_id="+n.rec_id
                                                    -var url="http://localhost:8003/users/apagarNotificacao"+query
                                                    a(href=`${url}`) Marcar como Visto
                                        -i++